body {
    background-color: #f2dfb5;
<<<<<<< HEAD
    background-image: url("yoga_audio/yoga_audio/public/img/wrapper-bg.png");
=======
    background-image: url("/yoga_audio/public/img/wrapper-bg.png");
>>>>>>> FETCH_HEAD
}